@font-face {
  font-family: 'Open Sans';
  src: url('/src/fonts/Open_Sans/OpenSans-VariableFont.ttf');
  font-weight: 300 800;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

:root {
  --additional-color:  #7fa99b;
  --additional-color-font: white;
  --main-color-font: black;

  --card-color: rgba(255, 253, 248, 0.952);
  --card-side-color: #fdc57b;
  --background-color:  #f6f6f6;
  --input-color: rgb(234, 228, 218);
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: black;
}

/* Sidebar */

.sidebar {
  background-color: var(--additional-color);
  color: var(--additional-color-font);
  padding: 18px;
}

.sidebar-header {
  font-size: 26px;
}

.sidebar .sidebar-links {
  list-style: none;
  padding-left: 0;
  font-weight: 600;
}

.sidebar a {
  text-decoration: none;
  color: var(--additional-color-font);
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.sidebar-links {
  display: grid;
  gap: 0.9rem;
}

.sidebar-links a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar-link.communities {
  margin-bottom: 3rem;
}

.sidebar svg {
  fill: white;
}

/* Main container */

.main-containter {
  display: grid;
  grid-template-rows: minmax(100px, 1fr) 4fr;
}

/* Header */

.header-container {
  background-color: var(--card-color);
}

/* Header upper row */

.navigation-container {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  padding: 15px;
  align-items: center;
  gap: 30px;
}

.navigation-container .user-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.search-bar-container input {
  background-color: var(--input-color);
  border: none;
  outline: none;
  border-radius: 13px;
  flex: 1;
  height: 30px;
}

.user-profile-data { 
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.user-profile-data .user-name {
  white-space: nowrap;
  color: var(--main-color-font);
}